body{
    background-color: #f6f8f9;
    font-family: Arial, sans-serif;
    /* font-weight: bold; */
}

h1{

    display: inline-block;
    vertical-align: middle;
    font-size: 2.5em;
}

h3{
    margin-top: 0;
    margin-bottom: 10px;
}

span{
    display: inline-block;
}

section{
    margin-bottom: 15px;
}

a{
    text-decoration: none;
    color: inherit;
}

.Box{
    border-radius: 5px;
    width: 50px;
    height: 20px;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    color: white;
}

.Blue_Border{
    background-color: #47adf1;
}

.Purple_Border{
    background-color: #9c72e4;
}

.Pink_Border{
    background-color: #d863a1;
}

.Orange_Border{
    background-color: #f29e33;
}

.Green_Border{
    background-color: #64c0a9;
}

.Light_Green_Border{
    background-color: #b0c926;
}

.Aggiungi{
    border-radius: 5px;
    width: 75px;
    height: 25px;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
}

.Check::before{
    content: "\2714";
    color: #64c0a9;
    border-radius: 50%;
    border: 1px solid #64c0a9;
    font-size: 10px;
    padding: 1px 2px;
    margin-right: 10px;
}

.Cross::before{
    content: "\2718";
    color: red;
    border-radius: 50%;
    border: 1px solid red;
    font-size: 10px;
    padding: 1px 2px;
    margin-right: 10px;
}

.ml40-pt20{
    margin-left: 40px;
    padding-top: 20px;
}

.mb20{
    margin-bottom: 20px;
}

#dv_Logo{
    width: 100%;
    background-color: white;
    margin-bottom: 50px;
}

#img_Logo{
    padding: 20px;
    vertical-align: middle;
}

#Main_Container{
    width: 60%;
    height: 600px;
    background-color: white;
    margin: auto;
    border-radius: 8px;
}

#Add_Task{
    background-color: #47adf1;
    color: white;
}

#Add_Section{
    background-color: white;
    border: 1px solid #d4d8dc;
    color: lightgray;
}