body{
    background-color: #f6f8f9;
}

#Logo{
    width: 100%;
    background-color: white;
}

#Main_Container{
    width: 60%;
    height: 600px;
    background-color: white;
    margin: auto;
    border: 1px solid black;
    border-radius: 8px;
}