body{
    background-color: #f6f8f9;
    font-family: Arial, sans-serif;
    /* font-weight: bold; */
}

h1{

    display: inline-block;
    vertical-align: middle;
}

h3{
    margin-top: 0;
}

.Blue_Border{
    background-color: #47adf1;
    border-radius: 50%;
}

.Purple_Border{
    background-color: #9c72e4;
    border-radius: 50%;
}

.Pink_Border{
    background-color: #d863a1;
    border-radius: 50%;
}

.Orange_Border{
    background-color: #f29e33;
    border-radius: 50%;
}

.Green_Border{
    background-color: #64c0a9;
    border-radius: 50%;
}

.Light_Green_Border{
    background-color: #b0c926;
    border-radius: 50%;
}

.Aggiungi{
    border-radius: 5px;
    width: 75px;
    height: 25px;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
}

#dv_Logo{
    width: 100%;
    background-color: white;
    margin-bottom: 50px;
}

#img_Logo{
    padding: 20px;
    vertical-align: middle;
}

#Main_Container{
    width: 60%;
    height: 600px;
    background-color: white;
    margin: auto;
    border-radius: 8px;
}

span{
    display: inline-block;
}

#Add_Task{
    background-color: #47adf1;
    color: white;
}

#Add_Section{
    background-color: white;
    border: 1px solid #d4d8dc;
    color: lightgray;
}

.Test{
    margin-left: 40px;
    padding-top: 20px;
}